stage_1:
  target: stage1.RAE
  params:
    encoder_cls: 'MedSigLIP2wNorm'
    encoder_config_path: 'google/medsiglip-448'
    encoder_input_size: 448
    encoder_params:
      model_name: 'google/medsiglip-448'
      num_tokens: 1024
    decoder_config_path: 'configs/decoder/ViTXL'
    pretrained_decoder_path: 'models/decoders/medsiglip/large_p14_i448/ViTXL_n08/model.pt'
    noise_tau: 0.
    reshape_to_2d: true
    normalization_stat_path: 'models/stats/medsiglip/large_p14_i448/imagenet1k/stat.pt'

stage_2:
  target: stage2.models.DDT.DiTwDDTHead
  params:
    input_size: 32
    patch_size: 1
    in_channels: 1152
    hidden_size: [1152, 2048]
    depth: [28, 2]
    num_heads: [16, 16]
    mlp_ratio: 4.0
    class_dropout_prob: 0.1
    num_classes: 1000
    use_qknorm: false
    use_swiglu: true
    use_rope: true
    use_rmsnorm: true
    wo_shift: false
    use_pos_embed: true
  ckpt: 'models/DiTs/MedSigLIP/large_p14_i448/ImageNet256/DiTDH-XL/stage2_model.pt'

transport:
  params:
    path_type: 'Linear'
    prediction: 'velocity'
    time_dist_type: 'uniform'

sampler:
  mode: ODE
  params:
    sampling_method: 'euler'
    num_steps: 50
    atol: 1e-6
    rtol: 1e-3
    reverse: false

guidance:
  method: 'cfg'
  scale: 1.0
  t-min: 0.0
  t-max: 1.0

misc:
  latent_size: [1152, 32, 32]
  num_classes: 1000
  time_dist_shift_dim: 1179648
  time_dist_shift_base: 4096